@use '../../scss/variables' as vars;

.navbar {
  position: fixed;
  width: 100%;
  background-color: vars.$white;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link.active {
  color: vars.$tertiary;
  border-bottom: 2px solid vars.$tertiary;
}
