@use './scss/variables.scss' as vars;

body {
  font-family: system-ui;
  background-color: vars.$background;
  // background: linear-gradient(90deg, #00adb5, #0f4c75, #1b262c);
  margin: 0;
  padding: 0;
}

p,
span {
  margin: 0;
}

h1 {
  color: vars.$primary !important;
  font-weight: bold;
  font-size: clamp(vars.$font-lg, 4vw, 3rem);
}

input {
  width: 100%;
}

.principal-button {
  background-color: vars.$primary;
  color: vars.$white;
  padding: 0.7rem 3rem;
  border: 0;
  border-radius: 0.5rem;
  margin: 1rem 0;
  width: 100%;
}
