$timesRoman: 'Times New Roman', Times, serif;
$calibri: 'Calibri', Times, serif;
$arial: 'Arial', Times, serif;

// COLORES
$background: #f5f5f5;
$primary: #0f4c75;
$secondary: #1b262c;
$tertiary: #00adb5;
$green: #4caf50;
$red: #e63946;
$white: #fff;

// TAMAÑO FUENTES
$font-lg: 1.3rem;
$font-md: 1rem;
$font-sm: 0.875rem;
$font-xs: 0.75rem;
